useDynLib(optiSel, .registration=TRUE)
S3method(plot, HaploFreq)
S3method(summary, kinwac)
S3method(summary, opticont)
S3method(summary, Pedig)
export(kinwac)
export(summary.kinwac)
export(genecont)
export(pedBreedComp)
export(conttac)
export(opticomp)
export(opticont)
export(opticont4mb)
export(help.opticont)
export(help.opticont4mb)
export(summary.opticont)
export(summary.Pedig)
export(completeness)
export(subPed)
export(pedInbreeding)
export(segInbreeding)
export(pedIBD)
export(pedIBDatN)
export(pedIBDorM)
export(pedplot)
export(prePed)
export(kinlist)
export(noffspring)
export(read.indiv)
export(sim2dis)
export(freqlist)
export(haplofreq)
export(segBreedComp)
export(segIBD)
export(segIBDandN)
export(segIBDatN)
export(segN)
importFrom(plyr,mapvalues)
importFrom(Matrix,sparseMatrix)
importFrom(Matrix,bdiag)
importFrom(data.table,setDF)
importFrom(data.table,setDT)
importFrom(data.table,dcast)
importFrom(data.table,melt)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract)
importFrom(stringr,str_sub)
importFrom(stringr,str_replace)
importFrom(stringr,str_pad)
importFrom(pspline,sm.spline)
importFrom(nadiv,prepPed)
importFrom(nadiv,prunePed)
importFrom(nadiv,numPed)
importFrom(nadiv,makeA)
importFrom(cccp,cccp)
importFrom(cccp,ctrl)
importFrom(cccp,nnoc)
importFrom(cccp,socc)
importFrom(cccp,getx)
importFrom(pedigree,orderPed)
importFrom(pedigree,calcInbreeding)
importFrom(kinship2,pedigree)
importFrom(kinship2,plot.pedigree)
importFrom(alabama,auglag)
importFrom(nloptr,slsqp)
importFrom(nloptr,nl.opts)
importFrom(quadprog,solve.QP)
importFrom(Rcsdp,csdp)
importFrom(Rcsdp,simple_triplet_sym_matrix)
importFrom(MASS,ginv)
importFrom(methods,as)
importFrom(stats,aggregate)
importFrom(stats,model.matrix)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,predict)
importFrom(graphics,axis)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,plot)
importFrom(graphics,polygon)
importFrom(Rcpp,evalCpp)
