S3method(summary, kinwac)
S3method(summary, opticont)
export(kin)
export(kinwac)
export(summary.kinwac)
export(genecont)
export(breedcont)
export(conttac)
export(opticont)
export(help.opticont)
export(summary.opticont)
export(completeness)
export(subPed)
export(pedplot)
export(prePed)
importFrom(Matrix,sparseMatrix)
importFrom(Matrix,bdiag)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract)
importFrom(stringr,str_sub)
importFrom(pspline,sm.spline)
importFrom(nadiv,prepPed)
importFrom(nadiv,prunePed)
importFrom(nadiv,numPed)
importFrom(nadiv,makeA)
importFrom(cccp,cccp)
importFrom(cccp,ctrl)
importFrom(cccp,nnoc)
importFrom(cccp,socc)
importFrom(cccp,getx)
importFrom(pedigree,orderPed)
importFrom(GENLIB,gen.completeness)
importFrom(GENLIB,gen.genealogy)
importFrom(kinship2,pedigree)
importFrom(kinship2,plot.pedigree)
importFrom(alabama,auglag)
importFrom(nloptr,slsqp)
importFrom(nloptr,nl.opts)
importFrom(Rcsdp,csdp)
importFrom(Rcsdp,simple_triplet_sym_matrix)
importFrom(MASS,ginv)
importFrom(methods,as)
importFrom(stats,aggregate)
importFrom(stats,model.matrix)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,predict)